<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    >
    <mat-toolbar class="company-name">The Ranch</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/pedido" *ngIf="checkUserPrivilege('CLIENTE')">FAZER PEDIDO</a>
      <a mat-list-item [matMenuTriggerFor]="menu">CARDÁPIO</a>
      <mat-menu class="mat-subnav-menu" #menu="matMenu">
        <a class="mat-subnav-item" (click)="this.navigate('hamburgueres')" mat-menu-item>HAMBURGUERES</a>
        <a class="mat-subnav-item" (click)="this.navigate('acompanhamentos')" mat-menu-item>ACOMPANHAMENTOS</a>
        <a class="mat-subnav-item" (click)="this.navigate('bebidas')" mat-menu-item>BEBIDAS</a>
        <a class="mat-subnav-item" (click)="this.navigate('sobremesas')" mat-menu-item>SOBREMESAS</a>
      </mat-menu>
      <a mat-list-item routerLink="/login" *ngIf="!checkUserLogged()">CONTA</a>
      <a routerLink="/comandas" mat-list-item *ngIf="checkUserPrivilege('ADMIN')"><mat-icon>event</mat-icon> COMANDAS</a>
      <a routerLink="/conf" mat-list-item *ngIf="checkUserPrivilege('ADMIN')"><mat-icon>build</mat-icon> CONFIGURAÇÕES</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="color: white;">menu</mat-icon>
      </button>
      <a routerLink="/" routerLinkActive="active"> <h3 class="mat-toolbar-title company-name">The Ranch</h3></a>
      <span class="spacer"></span>
      <div class="mat-toolbar-menu">
        <a routerLink="/pedido" class="mat-toolbar-option" *ngIf="checkUserPrivilege('CLIENTE')">FAZER PEDIDO </a>
        <a [matMenuTriggerFor]="menu" class="mat-toolbar-option">CARDÁPIO</a>
        <mat-menu class="mat-subnav-menu" #menu="matMenu">
          <a class="mat-subnav-item" (click)="this.navigate('hamburgueres')" mat-menu-item>HAMBURGUERES</a>
          <a class="mat-subnav-item" (click)="this.navigate('acompanhamentos')" mat-menu-item>ACOMPANHAMENTOS</a>
          <a class="mat-subnav-item" (click)="this.navigate('bebidas')" mat-menu-item>BEBIDAS</a>
          <a class="mat-subnav-item" (click)="this.navigate('sobremesas')" mat-menu-item>SOBREMESAS</a>
        </mat-menu>
        <a routerLink="/login"  class="mat-toolbar-option" *ngIf="!checkUserLogged()">CONTA</a>
        <a routerLink="/conta" class="mat-toolbar-option" *ngIf="checkUserLogged()"><mat-icon>account_circle</mat-icon></a>
        <a routerLink="/comandas" class="mat-toolbar-option" *ngIf="checkUserPrivilege('ADMIN')"><mat-icon>event</mat-icon></a>
        <a routerLink="/conf" class="mat-toolbar-option"  *ngIf="checkUserPrivilege('ADMIN')"><mat-icon>build</mat-icon></a>
      </div>
    </mat-toolbar>

    <div class="main">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>