
    <mat-toolbar>
      <a routerLink="/" routerLinkActive="active"> <h3 class="mat-toolbar-title">The Ranch</h3></a>
      <span class="spacer"></span>
      <div class="mat-toolbar-menu">
        <a routerLink="/pedido" class="mat-toolbar-option">FAZER PEDIDO</a>
        <a routerLink="/cardapio"  class="mat-toolbar-option">CARDÁPIO</a>
        <a routerLink="/sobre"  class="mat-toolbar-option">SOBRE NÓS</a>
        <a routerLink="/cadastro"  class="mat-toolbar-option">CADASTRO</a>
    </div>
    </mat-toolbar>
    
  