.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}

.mat-toolbar-title {
  padding-left: 30px;
  padding-right: 30px;
}

.company-name {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: white;
}

.mat-toolbar-option {
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
}

.mat-toolbar-title:hover, .mat-toolbar-option:hover {
  color: rgba(255, 255, 255, 0.842);
  text-decoration: none;
}