<div class="display-main container-fluid col-md-10">

  <div class="display-row">
  <div class="display-card">
    <form [formGroup]="cadastroUsuario" novalidate (ngSubmit)="submit()" (ngReset)="restart()">
    
      <h1 class="form-title text-center">Registrar-se</h1>

      <div class="row">
        <mat-form-field class="example-full-width w-75">
          <input name="nome" formControlName="nome" matInput placeholder="Nome Completo">
          <mat-error  *ngIf="cadastroUsuario.touched && f.nome.errors?.required">Campo Obrigatório</mat-error>
        </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width w-75">
              <input type="number" name="telefone" formControlName="telefone" matInput placeholder="Telefone">
              <mat-error  *ngIf="cadastroUsuario.touched && f.telefone.errors?.required">Campo Obrigatório</mat-error>
            </mat-form-field>
            </div>

        <div class="row">
                <mat-form-field class="example-full-width w-75">
                  <input type="email" name="email" formControlName="email" matInput placeholder="Email">
                  <mat-error  *ngIf="cadastroUsuario.touched && f.email.errors?.required">Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>

        <div class="row"> 
                <mat-form-field class="example-full-width w-75">
                  <input name="endereco" formControlName="endereco" matInput placeholder="Endereço">
                  <mat-error  *ngIf="cadastroUsuario.touched && f.endereco.errors?.required">Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>

        <div class="row">
                <mat-form-field class="example-full-width w-75">
                  <input name="senha" type="password" formControlName="senha" matInput placeholder="Senha">
                  <mat-error  *ngIf="cadastroUsuario.touched && f.senha.errors?.required">Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>
          
          <div class="row">
              <mat-form-field class="example-full-width w-75">
                <input name="senhaConfirma" type="password" formControlName="senhaConfirma" matInput placeholder="Confirmar Senha">
                <mat-error  *ngIf="cadastroUsuario.touched && f.senhaConfirma.errors?.required">Campo Obrigatório</mat-error>
              </mat-form-field>
          </div>

        <div class="row"> <button class="w-75 text-center rounded-pill" type="submit" mat-raised-button color="basic">Cadastrar</button></div>
        </form>

        

  </div>

  <div class="display-image container-fluid text-center">

    <h1 class="title">Já tem uma conta?</h1>
    <button class="w-25 rounded-pill" mat-raised-button color="basic">Login</button>

  </div>

  </div>
</div>
