.display-form {
   /* background-color: black;
    border-radius: 10px;
    border-color: rgb(58, 57, 57); */
    font-size: 20px;
    width: 400px;
    height: 700px;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}

.form-title, .title {
    font-family: 'Merienda', cursive;
    margin-top: 40px;
}

.row {
  margin-left: 30px;
}

.display-row {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

::ng-deep mat-form-field {
    color: white!important;
  } 
  
  ::ng-deep mat-form-field  .mat-form-field-label {
    color: white!important;
  }
  
  ::ng-deep mat-form-field .mat-form-field-underline {
    background-color: #ffffff!important;
  }
  
  ::ng-deep mat-form-field .mat-input-element {
    caret-color: #ffffff!important;
  }
  
  ::ng-deep mat-form-field .mat-form-field-ripple {
    background-color: #ffffff!important;
  }

.display-image {
  background-image: url("../../assets/signup/banner-signup2.jpg");
  width: 500px;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border-color: rgb(58, 57, 57);
  font-size: 20px;
}

@media(max-width: 780px) {
  

  .display-form {
    font-size: 15px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
}