<div class="container-fluid col-md-8 text-left fadeIn pb-5">
    <h1 class="container-title">Pedido</h1>
    
    <div class="card">
        
          <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step>

                <div class="section-row">
                <div class="section-group">
                    <div class="section-title">HAMBÚRGUERES</div>
                    <div class="section-item" *ngFor="let hamburguer of itensCardapio.hamburgueres">
                      <button class="item-button" (click)="addItem(hamburguer)">+</button> <button class="item-button" (click)="removeItem(hamburguer)">—</button>  <strong>{{hamburguer.descricao}}</strong> <br>{{hamburguer.ingredientesDescricao}}                    
                    </div>
                </div>
              </div>

                <div class="section-group">
                    <div class="section-title">ACOMPANHAMENTOS</div>
                    <div class="section-item" *ngFor="let ac of itensCardapio.acompanhamentos">
                      <button class="item-button" (click)="addItem(ac)">+</button> <button class="item-button" (click)="removeItem(ac)">—</button>  <strong>{{ac.descricao}}</strong> <br>{{ac.ingredientesDescricao}}                    
                    </div>
                </div>

                <div class="section-group">
                    <div class="section-title">BEBIDAS</div>
                    <div class="section-item" *ngFor="let bebida of itensCardapio.bebidas">
                      <button class="item-button" (click)="addItem(bebida)">+</button> <button class="item-button" (click)="removeItem(bebida)">—</button> <strong>{{bebida.descricao}}</strong> <br>{{bebida.ingredientesDescricao}}                    
                    </div>
                </div>

                <div class="section-group">
                    <div class="section-title">SOBREMESAS</div>
                    <div class="section-item" *ngFor="let sobremesa of itensCardapio.sobremesas">
                      <button class="item-button" (click)="addItem(sobremesa)">+</button><button class="item-button" (click)="removeItem(sobremesa)">—</button> <strong>{{sobremesa.descricao}}</strong> <br>{{sobremesa.ingredientesDescricao}}                    
                    </div>
                </div>

                <div class="section-group m-2" *ngIf="this.itensPedidoDetalhe?.length > 0">
                  <div>
                    <h1><strong>Resumo do Pedido:</strong></h1>
                    <table class="table table-borderless table-hover table-sm">
                      <thead >
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Quantidade</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pedido of itensPedidoDetalhe">
                          <td>{{pedido.item.descricao}}</td>
                          <td>{{pedido.quantidade}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <h3><strong>Total:</strong> R$ {{vlTotal | number : '1.2'}}</h3>
                  </div>
                </div>

                <div>
                  <button mat-button matStepperNext [disabled]="this.itensPedidoDetalhe?.length < 1">Próximo</button>
                </div>

            </mat-step>
           
            
             <mat-step [stepControl]="pedidoFormGroup">

                <form [formGroup]="pedidoFormGroup" class="pt-3">
                  <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Escolha a forma do pagamento</mat-label>
                  <mat-select required formControlName="forma">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let pagamento of formaPagamento" [value]="pagamento">
                      {{pagamento.descricao}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Escolha o endereço de entrega</mat-label>
                  <mat-select required formControlName="endereco">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let endereco of enderecos" [value]="endereco">
                      {{endereco.logradouro}}, {{endereco.numero}} {{endereco.complemento}}
                      - {{endereco.bairro}}, {{endereco.cidade}}, {{endereco.estado}} 
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                  <div>
                    <button mat-button matStepperPrevious>Anterior</button>
                    <button mat-button matStepperNext [disabled]="this.pedidoFormGroup.invalid">Próximo</button>
                  </div>
                </form>

              </mat-step>
              <mat-step>
                <div class="section-group m-2">
                  <div>
                    <h1><strong>Resumo do Pedido:</strong></h1>
                    <table class="table table-borderless table-hover table-sm">
                      <thead >
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Quantidade</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pedido of itensPedidoDetalhe">
                          <td>{{pedido.item.descricao}}</td>
                          <td>{{pedido.quantidade}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <h3><strong>Total:</strong> R$ {{vlTotal | number : '1.2'}}</h3>
                  </div>
                </div>

                <div>
                  <button mat-button matStepperPrevious>Anterior</button>
                  <button mat-button (click)="finalizarPedido()">Confirmar</button>
                </div>
              </mat-step>
              <mat-step>
                <div class="section-group text-center pt-5">
                <h1>Pedido nº {{pedidoUsuario.cdPedido}} realizado com sucesso!</h1>
                <h2>Agradecemos pela preferência!</h2>
                <p><span class="material-icons">
                  location_on
                  </span>
                  <strong>Endereço de entrega: </strong> 
                  {{this.pedidoUsuario?.enderecoEntrega?.logradouro}}, {{this.pedidoUsuario?.enderecoEntrega?.numero}}
                {{this.pedidoUsuario?.enderecoEntrega?.complemento}} - {{this.pedidoUsuario?.enderecoEntrega?.bairro}},
              {{this.pedidoUsuario?.enderecoEntrega?.cidade}}, {{this.pedidoUsuario?.enderecoEntrega?.estado}}</p>
                <p>Fique no aguardo! Seu pedido será preparado!</p>
                <h3><strong>Total:</strong> R$ {{vlTotal | number : '1.2'}}</h3>
               </div>
              </mat-step>
          </mat-horizontal-stepper>
          
    </div>

</div>
