.container-title {
    color: white;
    font-size: 30px;
    padding: 30px;
}

.card {
    padding: 30px;
}

.section-group {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 20px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 5px;
}

.section-item {
    padding: 5px;
    font-size: 15px;
}

.item-button {
    background-color: white;
    border: none;
}

owl-carousel-o {
    width: 300px;
}

.slide img {
    height: 400px;
    width: 100%;
}