<div class="container-fluid col-md-8 text-left fadeIn">
    <h1 class="container-title">Pedido</h1>
    
    <div class="card">
        
          <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step>

                <div class="section-row">
                <div class="section-group">
                    <div class="section-title">HAMBÚRGUERES</div>
                    <div class="section-item" *ngFor="let hamburguer of itensCardapio.hamburgueres">
                      <button class="item-button" (click)="addItem(hamburguer)">+</button> <button class="item-button" (click)="removeItem(hamburguer)">—</button>  <strong>{{hamburguer.descricao}}</strong> <br>{{hamburguer.ingredientesDescricao}}                    
                    </div>
                </div>
              </div>

                <div class="section-group">
                    <div class="section-title">ACOMPANHAMENTOS</div>
                    <div class="section-item" *ngFor="let ac of itensCardapio.acompanhamentos">
                      <button class="item-button" (click)="addItem(ac)">+</button> <button class="item-button" (click)="removeItem(ac)">—</button>  <strong>{{ac.descricao}}</strong> <br>{{ac.ingredientesDescricao}}                    
                    </div>
                </div>

                <div class="section-group">
                    <div class="section-title">BEBIDAS</div>
                    <div class="section-item" *ngFor="let bebida of itensCardapio.bebidas">
                      <button class="item-button" (click)="addItem(bebida)">+</button> <button class="item-button" (click)="removeItem(bebida)">—</button> <strong>{{bebida.descricao}}</strong> <br>{{bebida.ingredientesDescricao}}                    
                    </div>
                </div>

                <div class="section-group">
                    <div class="section-title">SOBREMESAS</div>
                    <div class="section-item" *ngFor="let sobremesa of itensCardapio.sobremesas">
                      <button class="item-button" (click)="addItem(sobremesa)">+</button><button class="item-button" (click)="removeItem(sobremesa)">—</button> <strong>{{sobremesa.descricao}}</strong> <br>{{sobremesa.ingredientesDescricao}}                    
                    </div>
                </div>

                <div class="text-center"><strong>TOTAL: R$ {{vlTotal | number : '1.2'}}</strong></div>
                <div>
                  <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>
           
            
             <mat-step [stepControl]="pedidoFormGroup">

                <form [formGroup]="pedidoFormGroup">
                  <mat-form-field appearance="fill" style="width: 600px">
                  <mat-label>Escolha a forma do pagamento</mat-label>
                  <mat-select required formControlName="forma">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let pagamento of formaPagamento" [value]="pagamento">
                      {{pagamento.descricao}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 600px">
                  <mat-label>Escolha o endereço de entrega</mat-label>
                  <mat-select required formControlName="endereco">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let endereco of enderecos" [value]="endereco">
                      {{endereco.logradouro}}, {{endereco.numero}} {{endereco.complemento}}
                      - {{endereco.bairro}}, {{endereco.cidade}}, {{endereco.estado}} 
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Anterior</button>
                    <button mat-button (click)="finalizarPedido()">Confirmar</button>
                  </div>
                </form>
              </mat-step>
          </mat-horizontal-stepper>

          <div class="row">
          <owl-carousel-o [options]="carouselOptions">
            <ng-template carouselSlide *ngFor="let hamburguer of hamburguerImgs">
                <div class="slide">
                  <img src={{hamburguer}}>
                </div>
            </ng-template>
        </owl-carousel-o>

        <owl-carousel-o [options]="carouselOptions">
          <ng-template carouselSlide *ngFor="let bebida of bebidasImgs">
              <div class="slide">
                <img src={{bebida}}>
              </div>
          </ng-template>
      </owl-carousel-o>


      <owl-carousel-o [options]="carouselOptions">
        <ng-template carouselSlide *ngFor="let acompanhamento of acompImgs">
            <div class="slide">
              <img src={{acompanhamento}}>
            </div>
        </ng-template>
    </owl-carousel-o>

      <owl-carousel-o [options]="carouselOptions">
        <ng-template carouselSlide *ngFor="let sobremesa of sobrImgs">
            <div class="slide">
              <img src={{sobremesa}}>
            </div>
        </ng-template>
    </owl-carousel-o>
  </div>
          
    </div>

</div>
