.container-title {
    color: white;
    font-size: 30px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.card {
    padding: 30px;
}

.section-group {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.section-group h1 {
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-size: 20px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 5px;
}

.section-item {
    padding: 5px;
    font-size: 15px;
}

.item-button {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    border-color:none;
}

.item-button:hover {
    background-color: rgb(65, 57, 57);
}

::ng-deep mat-form-field {
    color: black!important;
  } 
  
  ::ng-deep mat-form-field  .mat-form-field-label {
    color: black!important;
  }
  
  ::ng-deep mat-form-field .mat-form-field-underline {
    background-color: black!important;
  }
  
  ::ng-deep mat-form-field .mat-input-element {
    caret-color: black!important;
  }

  ::ng-deep .mat-step-header .mat-step-icon-state-edit {
      background-color: black !important;
  }

  /* DESABILITAR CLIQUE NO STEPPER*/
  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: black!important
}