<div class="container-fluid col-md-10 text-left fadeIn">
    <h1 class="container-title"><a routerLink="/comandas" class="back-link">
     <mat-icon>keyboard_backspace</mat-icon></a> Histórico de Comandas</h1>
    
    <div class="card">

      <pagination-controls class="my-pagination" (pageChange)="handlePageChange($event)" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
      <div class="table-responsive-sm">
        <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">Nº do Pedido</th>
                <th scope="col">Data</th>
                <th scope="col">Preço</th>
                <th scope="col">Endereço de Entrega</th>
                <th scope="col">Status</th>
                <th scope="col">Cliente</th>
                <th scope="col">Itens</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidos | paginate: { itemsPerPage: 10,
              currentPage: page }">
                <td>{{pedido.cdPedido}}</td>
                <td>{{pedido.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td>R$ {{pedido.precoTotal | number : '1.2'}}</td>
                <td>{{pedido.address.logradouro}}, {{pedido.address.numero}}
                    - {{pedido.address.bairro}}, {{pedido.address.cidade}}, {{pedido.address.estado}}</td>
                <td>{{pedido.status}}</td>
                <td><button mat-button class="table-btn" (click)="this.exibirModalCliente(pedido.user)">Info</button></td>
                <td><button mat-button class="table-btn" (click)="this.exibirModalItens(pedido.pedidos)">Info</button></td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center w-100" *ngIf="isLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

    </div>
</div>

